[Unit]
Description=Aluser Telegram Userbot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/2/2/Alluser
ExecStart=/root/2/2/Alluser/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
